<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profilestyle.css">
</head>
<body>
   <div class="container-header">
        <div class="container-high">
           <div class="header-logo">
               <img src="header logo/headerlogo.png" alt="">
               <h4>LİBERTY LİBRARY</h4>
           </div>
            <div class="navbar">
                <div>Kitaplar</div>
                <div>Profil</div>
                <div>Çıkış</div>
            </div>
        </div>
    </div>
    
    <div class="nissan">KİTAPLARIM</div>
    
    <div class="all-cards">
        <div class="card-out">
           <div class="card-in">
               <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
           </div> 
        </div>
        <div class="card-out">
           <div class="card-in">
               <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
           </div> 
        </div>
        <div class="card-out">
            <div class="card-in">
                <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
            </div>
        </div>
        <div class="card-out">
            <div class="card-in">
                <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
            </div>
        </div>
        <div class="card-out">
            <div class="card-in">
                <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
            </div>
        </div>
        <div class="card-out">
            <div class="card-in">
                <div class="book-image"><img src="book image/lotr.jpg" alt=""></div>
               <div class="book-about">
                   <div class="book-name thin"><p class="p-c1">Kitap : </p><p class="p-c2">LOTR-Yüzük Kardeşliği</p></div>
                   <div class="author-name thin"><p class="p-c1">Yazar : </p><p class="p-c2">Tolkien</p></div>
                   <div class="category thin"><p class="p-c1">Kategori : </p><p class="p-c2">Fantastik</p></div>
                   <div class="barcode thin"><p class="p-c1">Barkod : </p><p class="p-c2">Barkot</p></div>
                   <div class="stock thin"><p class="p-c1">Stok : </p><p class="p-c2">5</p></div>
                   <div class="star thin"><p class="p-c1">Puan : </p><p class="p-c2">10</p></div>
                   <div class="btn-rent">İade Et</div>
               </div>
            </div>
        </div>
    </div>
    
</body>
</html>