* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: 'Poppins', sans-serif;
    
}
.login-out{
    height: 100vh;
    width: 40%;
    margin: 0 auto;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-in{
    height: 60vh;
    width: 60%;
    background: #F4CAE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 25px -4px #ADA7C9;
    -moz-box-shadow: 10px 10px 25px -4px #ADA7C9;
    box-shadow: 10px 10px 25px -4px #ADA7C9;
}
#dogrulama0{
    height: 4vh;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ADA7C9;
    color: #2B5564;
    font-family: 'Poppins', sans-serif;
}
#dogrulama1{
    height: 5vh;
    width: 70%;
    border-radius: 20px;
    margin: 1vh;
    border: 1px solid #ADA7C9;
    background: #ADA7C9;
}

@media only screen and (max-width: 1480px) {
    .login-out{
        width: 70%;
    }
    .login-in{
        width: 100%;
    }
}
@media only screen and (max-width: 780px) {
    .login-out{
        width: 100%;
    }
    .login-in{
        width: 100%;
    }
}