<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Güncelle- LibraryTrack</title>
</head>
<body>
    <form action="/users/updatePass/{{id}}" method="post">
        <label for="">Yeni şifreyi giriniz</label>
        <input type="password" name="password">
        <br><br>
        <button type="submit">Gönder</button>
    </form>
</body>
</html>